body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.basic-margin {
    padding-left: 200px;
    padding-right: 200px;
}

.regular-text {
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}


nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
}

ul li img {
    width: 25px;
    height: 18px;
}

.banner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.banner-content {
    width: 450px;
    height: 580px;
    padding-top: 100px;
}

.banner-title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat-img {
    width: 230px;
}

.banner-button {
    display: flex;
    gap: 10px;
}

.btn-img {
    width: 105px;
    height: 40px;
}

.banner-img {
    padding-top: 50px;
    width: 450px;
    height: 380px;

}

.online-gms-text {
    text-align: center;
}

.gms-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;

}

.funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
}

.gms-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
}

.game-img {
    width: 250px;
    height: 300px;
    border-radius: 1rem;
}

.inst-play-content {
    width: 270px;
}

.instant-paly {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: right;
}

.inst-play-content h1 {
    text-align: right;
    font-size: 2.05rem;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.int-ply {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.inst-play-content {
    padding-top: 80px;
}

.inst-img-sec {
    height: 90%;
    margin-left: 80px;
}

.inst-big-img {
    width: 480px;
    height: 540px;
    padding-left: 220px;
}

.mini-img {
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 300px;
}

footer {
    /* width: 1920px; */
    height: 500px;
    background-color: #0B0223;
    text-align: center;
    padding-top: 50px;
}

.menu-footer {
    color: #FFF;
    padding-top: 50px;
    width: 680px;
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.8rem;
    padding-left: 400px;
}

.menu-footer small {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: normal;
}